* {
  box-sizing: border-box;
}

.window-header {
  height: 24px;
  text-align: center;
  font-size: 10pt;
  padding: 0;
  padding-top: 2px;
  background-color: #eeeeee;
  border-bottom: solid 0.5px #29292975;
}

.content-wrap {
  padding: 0;
}

.sidebar-box {
  position: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainwindow-box {
  position: fixed;
  width: 100%;
  height: 100%;
  transition-property: left;
  transition-duration: 0.52s;
}